.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-section {
  top: 0px;
  height: 241;
}
.dropdown-item-selected {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-item:focus {
  border: 2px solid var(--primary-color);
}
