.my-health-programs-header {
  max-width: 70%;
}

.my-health-programs-header-button {
  max-width: fit-content;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.my-health-programs-cost-option {
  margin: 8px;
  margin-top: 16px;
  padding: 30px;
}

.my-health-programs-good-option {
  margin: 8px;
  margin-top: 16px;
  padding: 13px;
}
