.pagination-container {
  @apply justify-center items-center;
  display: flex;
  list-style-type: none;
  padding: 10px;
}

.pagination-container .pagination-item,
.pagination-mobile-container .pagination-item {
  @apply flex flex-row;
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: #005eb9;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 4px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
  cursor: pointer;
}

.pagination-container .pagination-item.selected {
  border: solid 1px #737373;
}

.pagination-container .pagination-item.disabled,
.pagination-mobile-container .pagination-item.disabled {
  pointer-events: none;
  color: #737373;
}

.pagination-container .pagination-item.disabled:hover,
.pagination-container .pagination-item.dots:hover,
.pagination-mobile-container .pagination-item.disabled:hover {
  cursor: default;
}

.pagination-container .pagination-item:hover,
.pagination-container .pagination-item:focus {
  text-decoration: underline;
  background-color: #005EB9;
  color: #ffffff;
}

.pagination-item .arrow:hover .left-icon-white,
.pagination-item .arrow:focus .left-icon-white{
  display: inline;
}

.pagination-item .arrow:hover .left-icon,
.pagination-item .arrow:focus .left-icon{
  display: none;
}

.pagination-item .arrow:hover .right-icon-white,
.pagination-item .arrow:focus .right-icon-white{
  display: inline;
}

.pagination-item .arrow:hover .right-icon,
.pagination-item .arrow:focus .right-icon{
  display: none;
}

.pagination-container .pagination-item:focus {
  border: solid 1px #ffffff;
}

.pagination-mobile-container {
  display: none;
}

.left-icon-white {
  display: none;
}

.right-icon-white {
  display: none;
}
.pagination-mobile-container .pagination-item:hover,
.pagination-mobile-container .link:hover {
  background-color: #005EB9;
  color: #ffffff;
}

@media (width <=768px) {
  .pagination-container {
    display: none;
  }

  .pagination-mobile-container {
    @apply justify-center items-center;
    display: flex;
    list-style-type: none;
    padding: 10px;
  }
}
