.doughnutText {
  margin-left: 45px;
  margin-top: 75px;
}

.spendingSummaryChart {
  width: 260px;
  height: 260px;
  max-width: 260px;
  max-height: 260px;
}

@media (width>=768px) {
  .statementSummary .chartSection {
    float: left;
  }
  .statementSummary .sectionAlignment {
    margin-top: 120px;
  }
  .statementSummary .sectionAlignment p {
    margin-left: 9px;
  }
  .statementSummary .sectionAlignment {
    display: inline-block;
    margin-left: 30px;
  }
}

@media (width<768px) {
  .doughnutText {
    margin: 75px auto;
    width: 85%;
    padding-left: 0;
  }
  .spendingSummaryChart {
    margin: auto;
  }
  .chartTextDivider {
    width: 132px;
    margin: auto;
  }
  .chartText {
    padding-left: 0px;
  }
}
