.doughnutText {
  margin-left: 45px;
  margin-top: 75px;
}

.doughnutTextWellness {
  margin-left: 21px;
  margin-top: 108px;
}

.spendingSummaryChart {
  width: 260px;
  height: 260px;
  max-width: 260px;
  max-height: 260px;
}

.card-small {
  flex-basis: 37.5%;
  flex-shrink: 1;
  margin: 7px;
  padding: 12px;
  max-width: 31%;
}

.card-small p {
  color: #005eb9;
  font-weight: bold;
  cursor: pointer;
}

.doughnut-img {
  position: relative;
  width: 100%;
  max-width: 260px;
  height: 260px;
}

.doughnut-middle-text {
  position: absolute;
  top: 53%;
  left: 47%;
  text-align: center;
  white-space: nowrap;
  transform: translate(-47%, -50%);
}

@media (width>=768px) {
  .statementSummary .chartSection {
    float: left;
  }
  .statementSummary .sectionAlignment {
    margin-top: 120px;
  }
  .statementSummary .sectionAlignment p {
    margin-left: 9px;
  }
  .statementSummary .sectionAlignment {
    display: inline-block;
    margin-left: 30px;
  }
}

@media (width<768px) {
  .doughnutText {
    margin: 75px auto;
    width: 85%;
    padding-left: 0;
  }
  .doughnutTextWellness {
    margin: 100px auto;
    width: 85%;
    padding-left: 0;
  }
  .spendingSummaryChart {
    margin: auto;
  }
  .chartTextDivider {
    width: 132px;
    margin: auto;
  }
  .chartText {
    padding-left: 0px;
  }
  .card-small {
    flex-basis: 96%;
    flex-shrink: 1;
    margin: 7px;
    padding: 15px;
    max-width: 96%;
  }
}
