.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  display: none;
  width: 284px;
  height: auto;
  background-color: #00497e !important;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 23px 0;
  position: absolute;
  z-index: 999999999;
  top: 125%;
  left: 28%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #00497e transparent;
}

.tooltip:hover .tooltiptext,
.tooltip:focus-within .tooltiptext {
  display: block;
}

.toptooltip {
  position: relative;
  display: inline-block;
}

.toptooltip .tooltiptext {
  display: none;
  width: 284px;
  height: auto;
  background-color: #00497e !important;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 23px 0;
  position: absolute;
  z-index: 999999999;
  bottom: 120%;
  left: 50%;
  margin-left: -141px;
}

.toptooltip .tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.toptooltip:hover .tooltiptext,
.toptooltip:focus-within .tooltiptext {
  display: block;
}
.tooltipIcon .tooltiptext {
  transform: translateX(-27%);
}
